*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
}

/* header */
#header1{
    height: 10vh;
    background-color: #0026ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3.5px;
}
header>a{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
}
header>a>strong{
    background-color: white;
    color: #0026ff;
    padding: 4px 5px;
}
header>nav{
   color: white;
}


/* section */
section{
    height: 80vh;
    background-color: #0026ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
}

section>header{
    width: 100%;
    border-bottom: 3px solid white;
    padding: 20px;
    color: white;
    font-size: 28px;
}
section>.inner{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    letter-spacing: 3px;
    line-height: 20px;
}
section>.inner>a>button{

    padding: 15px 15px;
    font-size: 14px;
    color: white;
    border: 2px solid white;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* main */
main{
    display: grid;
    grid-template-rows: repeat(3,450px);
    grid-template-columns: 40% 20% 40%;
    
}   

main>article{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.art1{
    background-image: url(./assets/pic01.jpg);

}

.art2{
    grid-column: span 2;
    background-image: url(./assets/pic02.jpg);
}

.art3{
    grid-column: span 2;
    background-image: url(./assets/pic03.jpg);
}

.art4{
    background-image: url(./assets/pic04.jpg);
    
}

.art5{
    
    background-image: url(./assets/pic05.jpg);
}

.art6{
    grid-column: span 2;
    background-image: url(./assets/pic06.jpg);
}

main>article>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
    color: whitesmoke;
    transition: all 1s ease;

}
main>article>div>h3{
    font-size: 2.5rem;
}
main>article>div>p{
    border-top: 2px solid whitesmoke;
    font-size: 20px;
    width: 30%;
    padding-top: 40px;
}

.art1>div{
    background-color: #6aaec7e8;
}
.art2>div{
    background-color: #8f87c2d2;
}
.art3>div
{
    background-color: #e49087d7;
}
.art4>div{
    background-color: #d8ae86d3;
}
.art5>div{
    background-color: #7f99d0c7;
}
.art6>div{
    background-color: #8dbfa4ce;
}

article>div:hover{
    background-color: transparent
    ;
}




@media (max-width:425px) {
    main{
        grid-template-rows: repeat(6,400px);
        grid-template-columns: 100% ;
    }

    .art2,.art3,.art6{
        grid-column: span 1;
    }
    #header1>a>p{
        display: none;
    }
    section{
        height: 30%;
    }
    section>header>h1{
        font-size: 25px;
    }
    section>.inner{
        flex-direction: column;
    }
}